* {
	-webkit-box=sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;

	font-family: "Titillium Web", sans-serif;
	font-weight: 400;
	color: white;
	padding: 0 04px 0;
}

html, body {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

img, embed,
object, video {
	max-width: 100%;
	max-height: 100%;
	border-radius: 08px;
}

h1 {
	/* mysteriously, using font shorthand here messes up the margins*/
	font-family: "Titillium Web", sans-serif;
	font-size: 60px;
	font-weight: 900;
	color: #01579b;
	margin: 0;
}

h2 {
	font-variant: small-caps;
	font-weight: 900;
	letter-spacing: 01px;
	margin-top: 0;
}

h3 {
	font-weight: 200;
	margin-top: 0;
}

h4 {
	font-variant: small-caps;
	font-weight: 200;
}

p {
	font-size: 16px;
	font-weight: 200;
}

hr {
	border-color: #dcedc8;
	border-width: 10px;
	margin: 04px 0;
}

.header {
	background-color: white;
	/* word-spacing to force line break between words on small screens */
	word-spacing: 99999999px;
}

/* name goes to 1 line on medium screen */
@media screen and (min-width: 550px) {
	.header {
		word-spacing: 10px;
	}
}

.logo-name {
	display: flex;
	z-index: 100000;
}

.logo {
	/* I don"t want the logo to resize */
	height: 60px;
	width: 60px;
	object-fit: contain;
	margin: auto 0 0;
}

/* I used media queries instead of srcset for the stamp because of 
absolute positioning */
.stamp-sm, .stamp-md, .stamp-lg {
	position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    /* z-index above content but behind header name */
    z-index: 99999;
}

.featured-app {
	background-color: #01579b;
	border-radius: 08px;
	padding-bottom: 08px;
}

.featured-app-link {
	font-size: 18px;
	color: #f4ff81;
	padding-left: 04px;
}

.portfolio-sm-md {
	background-color: #01579b;
	border-radius: 08px;
}

@media screen and (max-width: 991px) {
	.portfolio-lg {
		display: none;
	}
}

.portfolio-lg {
	background-color: #01579b;
	border-radius: 08px;
}

@media screen and (min-width: 992px) {
	.portfolio-sm-md {
		display: none;
	}

	.portfolio-lg {
		display: block;
	}
}

.portfolio-item {
	margin-top: 08px;
}

.app-title {
	font-variant: small-caps;
	font-weight: 400;
	margin-bottom: 0;
}

@media screen and (max-width: 991px) {
	.app-title {
		word-spacing: 99999999px;
	}

	.stamp-lg {
		display: none;
	}
}

@media screen and (max-width: 399px) {
	h1 {
		font-size: 36px;
	}
	.stamp-md {
		display: none;
	}
}

@media screen and (min-width: 400px) {
	.stamp-sm {
		display: none;
	}
}

.app-image {
	padding-right: 0;
}

.app-link {
	color: #f4ff81;
	padding: 0 0 30px 04px;
}

.app-description {
	display: none;
}

.contact {
	background-color: #455a64;
	width: 100vw;
	padding-top: 16px;
}

.contact-button {
	background-color: #455a64;
	margin-top: 08px;
}

.contact-details {
	padding: 10px 0 40px 0;
}

.modal {
	/* so that modal displays on top of header name and stamp */
	z-index: 99999999;
}

.p-modal {
	font-size: 18px;
	font-weight: 400;
	color: #01579b;
}

.h2-modal, .modal-title {
	font-weight: 400;
	color: #01579b;
}

@media screen and (min-width: 992px) {
	.stamp-sm {
		display: none;
	}

	.stamp-md {
		display: none;
	}

	.app-link {
		text-align: center;
		padding-bottom: 08px;
	}
}

@media screen and (min-width: 660px) and (max-width: 725px) {
	.app-description {
		display: inline-block;
		font-size: 14px;
	}
}

@media screen and (min-width: 726px) {
	.app-description {
		display: inline-block;
	}
}