* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
    font-weight: 400;
    color: white;
    padding: 0 04px 0;
}

html, 
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

img, 
embed,
object, 
video {
    max-width: 100%;
    max-height: 100%;
    border-radius: 08px;
}

h1 {
    /* using css shorthand on this font mysteriously screws up margin */
    font-family: "Titillium Web", sans-serif;
    font-size: 44px;
    font-weight: 900;
    color: #01579b;
    margin: 0;
}

h2 {
    font-variant: small-caps;
    font-weight: 900;
    letter-spacing: 01px;
    margin-top: 0;
}

h3 {
    font-weight: 200;
    margin-top: 0;
}

h4 {
    font-variant: small-caps;
    font-weight: 200;
}

p {
    font-size: 16px;
    font-weight: 200;
}

hr {
    border-color: #dcedc8;
    border-width: 10px;
    margin: 04px 0;
}

.header {
    background-color: white;
    word-spacing: 99999999px;
}

.logo-name {
    display: flex;
    z-index: 100000;
}

.logo {
    height: 60px;
    width: 60px;
    object-fit: contain;
    margin: auto 0 0;
}

.stamp {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 99999;
}

.featured-app {
    background-color: #01579b;
    border-radius: 08px;
    padding-bottom: 08px;
}

.featured-app-link {
    font-size: 18px;
    color: #f4ff81;
    padding-left: 04px;
}

.portfolio-sm-md {
    background-color: #01579b;
    border-radius: 08px;
}

.portfolio-lg {
    background-color: #01579b;
    border-radius: 08px;
}

.portfolio-item {
    margin-top: 08px;
}

.app-title {
    font-variant: small-caps;
    font-weight: 400;
    margin-bottom: 0;
}

.app-image {
    padding-right: 0;
}

.app-link {
    color: #f4ff81;
    padding: 0 0 30px 04px;
}

.app-description {
    display: none;
}

.contact {
    background-color: #455a64;
    width: 100vw;
    padding-top: 16px;
}

.contact-button {
    background-color: #455a64;
    margin-top: 08px;
}

.contact-details {
    padding: 10px 0 40px 0;
}

.modal {
    z-index: 99999999;
}

.p-modal {
    font-size: 18px;
    font-weight: 400;
    color: #01579b;
}

.h2-modal, 
.modal-title {
    font-weight: 400;
    color: #01579b;
}

@media screen and (min-width: 450px) {
    h1 {
        font-size: 60px;
    }
}

@media screen and (min-width: 550px) {
    .header {
        word-spacing: 10px;
    }
}

@media screen and (min-width: 660px) and (max-width: 725px) {
    .app-description {
        display: inline-block;
        font-size: 14px;
    }
}

@media screen and (min-width: 726px) {
    .app-description {
        display: inline-block;
    }
}

@media screen and (max-width: 991px) {
    .portfolio-lg {
        display: none;
    }

    .app-title {
        word-spacing: 99999999px;
    }
}

@media screen and (min-width: 992px) {
    .portfolio-sm-md {
        display: none;
    }

    .portfolio-lg {
        display: block;
    }

    .app-link {
        text-align: center;
        padding-bottom: 08px;
    }
}
